.content
  .title
    span Założenia programowe




  .boxes
    .center
      //- p(style="text-align: center;") Szczegóły programu zostaną opublikowane 25.06.2022
      //- Img(src="./images/pakula-02.png" width="100px")
      div
        //- Img(src="./images/white.png" width="100px")
    .text.info
      .left.info__item
        //- p= PROGRAM__desc
        //- img(src="./images/pakula-02.png")



        br
      .right.info__item
        //- img(src="https://d-art.ppstatic.pl/kadry/k/r/1/49/cf/6266faf4118f4_o_large.jpg")
        //- img(src="./images/pakula-02.png")


  //- .topic Szczegóły programu zostaną opublikowane 25.06.2022
  //- br
  //- br
  //- br
  //- br
  //- .topic= PROGRAM__header
  //- .boxes
  //-   each item in PROGRAM_ARTICLE
  //-     .box
  //-       .icon
  //-         i(class="fas fa-chart-line")
  //-       .topic= item.header





