/* My Services CSS */

.services .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .box {
        margin: 20px 0;
        width: calc(100% / 5 - 20px);
        text-align: center;
        border-radius: 12px;
        padding: 30px 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
        cursor: default;
        transition: all 0.4s ease;
        &:hover {
            background: #4070f4;
            color: #fff;
        }
        .icon {
            height: 50px;
            width: 50px;
            background: #4070f4;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            font-size: 18px;
            color: #fff;
            margin: 0 auto 10px auto;
            transition: all 0.4s ease;
        }
    }
}

.boxes .box:hover .icon {
    background-color: #fff;
    color: #4070f4;
}

.services .boxes .box:hover {
    .topic,
    p {
        color: #0E2431;
        transition: all 0.4s ease;
    }
    .topic,
    p {
        color: #fff;
    }
}

@media (max-width: 1050px) {
    .services .boxes .box {
        margin: 20px 0;
        width: 100%;
    }
    .box {
        flex: 100%;
    }
}

.info__item {
    flex: 50%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    img {
        object-fit: cover;
        border-radius: 12px;
        width: 400px;
        margin-bottom: 100px;
    }
    .left {
        p {
            text-align: justify;
        }
    }
    .right {
        padding: 0 70px;
    }
    .topic {
        margin: 50px 0;
    }
}

@media (max-width: 1100px) {
    .info img {
        height: 300px;
        width: 300px;
    }
    .right {
        padding: 0 !important;
    }
    .info__item {
        flex: 100%;
    }
}