section#pytania.contact(style='background-color: #f0f8ff;')
    .title
        span= PYTANIA__header
    .container
        .accordion
            each item in PYTANIA
                    .accordion-item
                    button#accordion-button-1(aria-expanded='false')
                        span.accordion-title= item.ask
                        span.icon(aria-hidden='true')
                    .accordion-content
                        p= item.answear
        .accordion(style='display: none;')
            .accordion-item
            button#accordion-button-1(aria-expanded='false')
                span.accordion-title Pytanie
                span.icon(aria-hidden='true')
            .accordion-content
                p Odpowiedz

