.content
  .title
    span Doświadczenie
  .skills-details
    .text
      .topic= DOSWIADCZENIE__header
      p= DOSWIADCZENIE__desc
      .experience
        .num 25
        .exp
          | Lat
          br
          |  Doświadczenia
    .boxes
      .box
        .topic Prezes
        .per MTG
      .box
        .topic Radny gminy
        .per Miastko
      .box
        .topic Prezes firmy
        .per Miralex
