.content
  .title
    span O mnie
  .about-details
    .left
      img(src='./images/about.jpg' alt='about me')
    .right
      .topic= O_MNIE__header
      p= O_MNIE__desc
      a(href="#program")
      span.signature
        img(src="images/signature.png" alt="Przemysław Pakuła Signature")
