section#strona-glowna.home
  .home-content
    .text
      .text-one= STRONA_GLOWNA[0]
      .text-two.focus-in-expand= STRONA_GLOWNA[1]
      .text-three= STRONA_GLOWNA[2]
      .text-four= STRONA_GLOWNA[3]
    a(href='#o-mnie')
      .button
        button Zagłosuj na mnie!
    br
    span
      img(src='./images/gryf.png' width='100px' alt='gryf miastecki')