/* Contact Me CSS */

.contact {
    background: #F0F8FF;
    .content {
        margin: 0 auto;
        padding: 30px 0;
    }
    .text {
        width: 80%;
        /* text-align: center; */
        margin: auto;
    }
    .content__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .content__box .topic {
        color: #4070f4;
    }
}

.contact__icon {
    color: #4070f4;
    font-size: 50px;
}

.contact {
    .content__item {
        background-color: white;
        padding: 30px;
        margin: 10px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
        flex: 25%;
    }
    .contact__item__header {
        color: #4070f4;
        font-size: 20px;
        font-weight: bold;
    }
}

.button-small button {
    font-size: 13px !important;
}