footer
  .content
    .top
      .logo-details
        i.fab.fa-slack
        span.logo_name  Szopa2022
      .media-icons
        a(href='#')
          i.fab.fa-facebook-f
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-instagram
        a(href='#')
          i.fab.fa-youtube
    .link-boxes
      ul.box
        li.link_name Komitet wyborczy
        li
          a(href='#') Okręg
        li
          a(href='#') Postulaty
        li
          a(href='#') Spotkania
      ul.box
        li.link_name Informacje
        li
          a(href='#') Aleksander Szopa
        li
          a(href='#') Radny gmina miastko

      ul.box
        li.link_name Przydatne linki
        li
          a(href='https://mtg.miastko.pl/' target='_blank') MTG Miastko
        li
          a(href='#') miastko.pl
        li
          a(href='#') link1
        li
          a(href='#') link2
      ul.box
        li.link_name Reklama
        li
          a(href='#') Baner
        li


  .bottom-details
    .bottom_text
      span.copyright_text
        | Copyright &copy; 2022 -
        a(href='#') Aleksander Szopa
        | - All rights reserved
        | - www.szopa2022.pl
