nav
  .navbar
    .logo
      a(href='#') #Szopa2022
    ul.menu
      li
        a(href='#strona-glowna') Strona Główna
      li(class="active")
        a(href='#o-mnie') O mnie
      li(class="active")
        a(href='#doswiadczenie') Doświadczenie
      li(class="active")
        a(href='#program') Program
      li
        a(href='#kontakt') Kontakt
      .cancel-btn
        i.fas.fa-times
    .media-icons
      a(href='#')
        i.fab.fa-facebook-f
      a(href='#')
        i.fab.fa-twitter
      a(href='#')
        i.fab.fa-instagram
  .menu-btn
    i.fas.fa-bars