include ../sections/strona-glowna.pug
include ../sections/o-mnie.pug
include ../sections/doswiadczenie.pug
include ../sections/program.pug
include ../sections/komitet.pug
include ../sections/kontakt.pug




