footer
  .content
    .top
      .logo-details
        span.logo_name=  WEBSITE_TITLE
      .media-icons
        a(href=FACEBOOK__URL target='_blank')
          i.fab.fa-facebook-f
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-instagram
        a(href='#')
          i.fab.fa-youtube
    .link-boxes
      ul.box
        li.link_name Komitet wyborczy
        li
          a(href='#') Okręg
        li
          a(href='#') Postulaty
        li
          a(href='#') Spotkania
      ul.box
        li.link_name Informacje
        li
          a(href='#')= BOSS__NAME
        li
          a(href='https://bip.miastko.pl/dokumenty/8603' target='blank') Radny gmina miastko

      ul.box
        li.link_name Przydatne linki
        li
          a(href='#' target='_blank') KWW Samorządność
        li
          a(href='#') miastko.pl
      ul.box
        li.link_name Pobierz
        li
          a(href='#') Program (PDF)
        li
          a(href='#') Komitet (PDF)


  .bottom-details
    .bottom_text
      span.copyright_text= FOOTER__INFO
