section#strona-glowna.home
  .home-content
    .text
      .text-one Twój kandydat
      .text-two.focus-in-expand Aleksander Szopa
      .text-three Na burmistrza
      .text-four Miastka 2022
    a(href='#o-mnie')
      .button
        button Zagłosuj na mnie!
    br
    span
      img(src='./images/gryf.png' width='100px' alt='gryf miastecki').puff-in-center
