section#strona-glowna.home
  .home-content
    .text
      .text-one Twój kandydat
      .text-two Aleksander Szopa
      .text-three Na burmistrza
      .text-four Miastka 2022
    .button
      button Zagłosuj na mnie!
    br
    span
      img(src='./images/gryf.png' width='100px' alt='gryf miastecki')
