section#doswiadczenie.skills
  .content
    .title
      span Doświadczenie
    .skills-details
      .text
        .topic Miasteckie Towarzystwo Gospodarcze
        p
          |  Chciałbym, aby w kampanii dyskutowano o przyszłości gminy, aby głosowanie nie było plebiscytem, a rzeczywistym wyborem. Jestem niezależny finansowo i naprawdę nic nie muszę. Chcę jednak, aby mieszkańcy mieli rzeczywisty wybór. Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia
        .experience
          .num 25
          .exp
            | Lat
            br
            |  Doświadczenia
      .boxes
        .box
          .topic HTML
          .per 90%
        .box
          .topic CSS
          .per 80%
        .box
          .topic JavScript
          .per 70%
        .box
          .topic PHP
          .per 60%
