section#program.services
  .content
    .title
      span Program
    .boxes
      .box
        .icon
          i.fas.fa-desktop
        .topic Pomoc rolnikom
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?
      .box
        .icon
          i.fas.fa-paint-brush
        .topic Naprawa
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?
      .box
        .icon
          i.fas.fa-chart-line
        .topic Obniżenie składek
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?
      .box
        .icon
          i.fab.fa-android
        .topic  Remont szpitala
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?
      .box
        .icon
          i.fas.fa-camera-retro
        .topic Nowe drogi
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?
      .box
        .icon
          i.fas.fa-tablet-alt
        .topic Dofinansowanie gminy
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?
section#komitet
  .title
    span Komitet
  .container-komitet
    //- JAN-KOWALSKI
    .box#01-jan-kowalski
      .image
            <img src="https://st.depositphotos.com/1144472/2003/i/950/depositphotos_20030237-stock-photo-cheerful-young-man-over-white.jpg" alt="">

      .name_job Janusz Kowalski
      .rating
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
      p
        | Prezes, członek stowarzyszenia

    //- JANUSZ
    .box#02-jan-kowalski
        .image
              <img src="https://st.depositphotos.com/1144472/2003/i/950/depositphotos_20030237-stock-photo-cheerful-young-man-over-white.jpg" alt="">

        .name_job Janusz Kowalski
        .rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
        p
          | Prezes, członek stowarzyszenia

    //- JANUSZ
    .box#03-jan-kowalski
        .image
              <img src="https://st.depositphotos.com/1144472/2003/i/950/depositphotos_20030237-stock-photo-cheerful-young-man-over-white.jpg" alt="">

        .name_job Janusz Kowalski
        .rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
        p
          | Prezes, członek stowarzyszenia


    //- JANUSZ
    .box#04-jan-kowalski
        .image
              <img src="https://st.depositphotos.com/1144472/2003/i/950/depositphotos_20030237-stock-photo-cheerful-young-man-over-white.jpg" alt="">

        .name_job Janusz Kowalski
        .rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
        p
          | Prezes, członek stowarzyszenia

    //- JANUSZ
    .box#03-jan-kowalski
        .image
              <img src="https://st.depositphotos.com/1144472/2003/i/950/depositphotos_20030237-stock-photo-cheerful-young-man-over-white.jpg" alt="">

        .name_job Janusz Kowalski
        .rating
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
        p
          | Prezes, członek stowarzyszenia

    //- JANUSZ
    .box#03-jan-kowalski
      .image
            <img src="https://st.depositphotos.com/1144472/2003/i/950/depositphotos_20030237-stock-photo-cheerful-young-man-over-white.jpg" alt="">

      .name_job Janusz Kowalski
      .rating
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
      p
        | Prezes, członek stowarzyszenia