section#kontakt.contact
  .content
    .title
      span Kontakt
    .text
      .topic Masz jakieś pytania?
      p
        | Tel. +48 777 777 777
      p
        | email: kontakt@szopa2022.pl
      .button
        button Wyślij wiadomość!