section#doswiadczenie.skills
  .content
    .title
      span Doświadczenie
    .skills-details
      .text
        .topic= DOSWIADCZENIE__header
        p= DOSWIADCZENIE__desc
        .experience
          .num 25
          .exp
            | Lat
            br
            |  Doświadczenia
      .boxes
        .box
          .topic Prezes
          .per 90%
        .box
          .topic Wiceprezes
          .per 80%
        .box
          .topic Kierownik
          .per 70%
        .box
          .topic Radny
          .per 60%
