section#kontakt.contact
  .content
    .title
      span Kontakt
    .text
      .topic Masz jakieś pytania?
      .content__box
        i.fa-solid.fa-phone
        a(href=KONTAKT__PHONE__HREF)
            p= KONTAKT__PHONE
        a(href=KONTAKT__EMAIL__HREF)
          p= KONTAKT__EMAIL