section#kontakt.contact
  .content
    .title
      span Kontakt
    .text
      .topic Masz jakieś pytania?
        a(href=KONTAKT__PHONE__HREF)
          p= KONTAKT__PHONE
        a(href=KONTAKT__EMAIL__HREF)
          p= KONTAKT__EMAIL