section#o-mnie.about
  .content
    .title
      span O mnie
    .about-details
      .left
        img(src='./images/about.jpg' alt='about me')
      .right
        .topic= O_MNIE__header
        p= O_MNIE__desc
        a(href="#program")
          .button
            button Zobacz program