section#program.services
  .content
    .title
      span Program
    .boxes
      each item in PROGRAM
        .box
          .icon
            i(class=item.icon)
          .topic= item.header
          p= item.desc



