include api.pug
doctype html
html(lang='pl-PL')
  head
      include components/Head.pug
  body
    section#strona-glowna.home
      .home-content
        .text
          .text-one Błąd
          .text-two.focus-in-expand 404
          .text-three nie znaleziono strony
        .button
          a(href='/' style='')
            button Wróć do strony głównej
        br
        span
        .text-one= WEBSITE_URL