-
    var WEBSITE_TITLE = "#Szopa2022"
    var WEBSITE_URL = "www.szopa2022.pl"
    var BOSS__NAME = "Aleksander Szopa"
    var FACEBOOK__URL = "https://www.facebook.com/Miastko-Info24-1411561515783389/"
    var KONTAKT__PHONE = "+48 888 888 888"
    var KONTAKT__EMAIL = "kontakt@szopa2022.pl"

    var KONTAKT__PHONE__HREF = `tel:${KONTAKT__PHONE}`;
    var KONTAKT__EMAIL__HREF = `mailto:${KONTAKT__EMAIL}`;

    var FOOTER__INFO = `Copyright © 2022 • ${BOSS__NAME} • Wszelkie prawa zastrzeżone. • ${WEBSITE_URL}`



    var O_MNIE__header = BOSS__NAME
    var O_MNIE__desc =
    `Chciałbym, aby w kampanii dyskutowano o przyszłości gminy, aby głosowanie nie było plebiscytem, a rzeczywistym wyborem. Jestem niezależny finansowo i naprawdę nic nie muszę. Chcę jednak, aby mieszkańcy mieli rzeczywisty wybór. Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia.
    `
    var DOSWIADCZENIE__header = `Miasteckie Towarzystwo Gospodarcze`
    var DOSWIADCZENIE__desc =
    `Chciałbym, aby w kampanii dyskutowano o przyszłości gminy, aby głosowanie nie było plebiscytem, a rzeczywistym wyborem. Jestem niezależny finansowo i naprawdę nic nie muszę. Chcę jednak, aby mieszkańcy mieli rzeczywisty wybór. Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia
    `
    var STRONA_GLOWNA = ["Kandydat", BOSS__NAME, "Na burmistrza", "Miastka 2022", "Zagłosuj na mnie!" ]

    var PROGRAM =
    [
        {
            header: "Pomoc rolnikom",
            desc: "Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia",
            icon: 'fas fa-chart-line'
        },
        {
            header: "Pomoc rolnikom",
            desc: "Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia",
            icon: 'fas fa-chart-line'
        },
        {
            header: "Pomoc rolnikom",
            desc: "Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia",
            icon: 'fas fa-chart-line'
        },
        {
            header: "Pomoc rolnikom",
            desc: "Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia",
            icon: 'fas fa-chart-line'
        },
        {
            header: "Pomoc rolnikom",
            desc: "Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia",
            icon: 'fas fa-chart-line'
        },
        {
            header: "Pomoc rolnikom",
            desc: "Mam świadomość, że czego innego oczekują od władz gminy młodzi ludzi, a czego innego seniorzy. Chcę o tym rozmawiać, zaprosić do dyskusji i rzeczywistego współrządzenia",
            icon: 'fas fa-chart-line'
        }
    ];

    var KOMITET =
    [
        {
            name: "Janusz Pawlak",
            info: "Lista 22, Pozycja 21",
            avatar: "https://tltuchola.pl/wp-content/uploads/2020/07/Olivier_1500_Trptch.jpg"
        },
        {
            name: "Wojciech Gola",
            info: "Lista 11, Pozycja 2",
            avatar: "https://i.pinimg.com/originals/44/35/50/443550b58651fdff1c5ea2e9465f93f0.jpg"
        },
        {
            name: "Dariusz Wojciewski",
            info: "Lista 2, Pozcyja 2",
            avatar: "https://m.media-amazon.com/images/I/81a10vUqDSL._SS500_.jpg"
        },
        {
            name: "Maria Zawiałów",
            info: "Lista 99, Pozycja 4",
            avatar: "https://image.shutterstock.com/image-photo/stock-photo-close-up-portrait-of-yong-woman-casual-portrait-in-positive-view-big-smile-beautiful-model-posing-250nw-1554086789.jpg"
        },
        {
            name: "Bartosz Duda",
            info: "Pozycja 69, Lista 2",
            avatar: "https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg"
        },
        {
            name: "Jan Kowal",
            info: "Pozycja 10, Lista 1",
            avatar: "https://st.depositphotos.com/1144472/2003/i/950/depositphotos_20030237-stock-photo-cheerful-young-man-over-white.jpg"
        }
    ];

    var MENU__NAV =
    [
        {
            hash: "#strona-glowna" ,
            name: "Strona Główna"
        },
        {
            hash: "#o-mnie" ,
            name: "O mnie"
        },
        {
            hash: "#doswiadczenie" ,
            name: "Doświadczenie"
        },
        {
            hash: "#komitet" ,
            name: "Komitet"
        },
        {
            hash: "#pytania" ,
            name: "FAQ"
        },
        {
            hash: "#program" ,
            name: "Program"
        },
        {
            hash: "#kontakt" ,
            name: "Kontakt"
        }


    ];
    var PYTANIA__header = "Pytania i odpowiedzi"
    var PYTANIA =
    [
        {
            ask: "Czy aplikacja e-mikrofirma pozwala na wystawienie faktury w systemie samofakturowania, gdy fakturę VAT wystawia nabywca?",
            answear: "Nie .Wystawiane przez użytkownika w aplikacji faktury VAT są automatycznie przenoszone do rejestru sprzedaży, wobec czego nie ma możliwości wystawiania faktur jako nabywca na zasadzie samofakturowania z uwagi na specyficzny tryb ich ewidencjonowania."
        },
        {
            ask: "Czy aplikacja e-mikrofirma pozwala na wystawienie faktury VAT-RR przy transakcjach z rolnikiem ryczałtowym, kiedy wystawcą faktury jest jej nabywca?",
            answear: "Nie. Wystawiane przez użytkownika w aplikacji faktury VAT są automatycznie przenoszone do rejestru sprzedaży, wobec czego nie ma możliwości wystawiania faktur VAT-RR przez nabywcę płodów rolnych na rzecz rolnika ryczałtowego, z uwagi na specyficzny tryb ich ewidencjonowania, która dostępna jest ze strony głównej NOWY ZAKUP a następnie ZBIORCZY WPIS DO REJESTRU VAT. W tym celu należy wprowadzić w aplikacji wartości z podsumowania tej faktury.Nie. Wystawiane przez"
        },
        {
            ask: "Czy i w jaki sposób mogę zrobić w aplikacji e-mikrofirma kopię zapasową danych (backup)?",
            answear: "Aplikacja umożliwia tworzenie kopii bezpieczeństwa oraz odtwarzania danych z zapisanej kopii bezpieczeństwa, służą do tego dwa przyciski umieszczone na ekranie Ustawienia: wykonaj kopię zapasową oraz wczytaj kopię zapasową.Użytkownik może również wykonać „ręczny backup” poprzez kopię plików baz danych. W tym celu należy skopiować pliki baz danych (profiles.db oraz nip_użytkownika.db) z lokalizacji C:\Users\XXXX\AKMF, (gdzie XXXX to nazwa użytkownika aktualnie zalogowanego do komputera i pracującego w aplikacji). W przypadku natomiast zmiany katalogu roboczego na inny (na ekranie USTAWIENIA), do którego są zapisywane pozostałe wytworzone przez aplikację dokumenty, między innymi informacje JPK_VAT, JPK_FA należy również skopiować ten folder w celu uzyskania kopii zapasowej w tym zakresie.Aplikacja umożliwia tworzenie kopii bezpieczeństwa oraz odtwarzania danych z zapisanej kopii bezpieczeństwa, służą do tego dwa przyciski umieszczone na ekranie Ustawienia: wykonaj kopię zapasową oraz wczytaj kopię zapasową.Użytkownik może również wykonać „ręczny backup” poprzez kopię plików baz danych. W tym celu należy skopiować pliki baz danych (profiles.db oraz nip_użytkownika.db) z lokalizacji "
        },
        {
            ask: "Czy i w jaki sposób mogę zrobić w aplikacji e-mikrofirma kopię zapasową danych (backup)?",
            answear: "Aplikacja umożliwia tworzenie kopii bezpieczeństwa oraz odtwarzania danych z zapisanej kopii bezpieczeństwa, służą do tego dwa przyciski umieszczone na ekranie Ustawienia: wykonaj kopię zapasową oraz wczytaj kopię zapasową.Użytkownik może również wykonać „ręczny backup” poprzez kopię plików baz danych. W tym celu należy skopiować pliki baz danych (profiles.db oraz nip_użytkownika.db) z lokalizacji C:\Users\XXXX\AKMF, (gdzie XXXX to nazwa użytkownika aktualnie zalogowanego do komputera i pracującego w aplikacji). W przypadku natomiast zmiany katalogu roboczego na inny (na ekranie USTAWIENIA), do którego są zapisywane pozostałe wytworzone przez aplikację dokumenty, między innymi informacje JPK_VAT, JPK_FA należy również skopiować ten folder w celu uzyskania kopii zapasowej w tym zakresie."
        },
        {
            ask: "Czy i w jaki sposób mogę zrobić w aplikacji e-mikrofirma kopię zapasową danych (backup)?",
            answear: "Aplikacja umożliwia tworzenie kopii bezpieczeństwa oraz odtwarzania danych z zapisanej kopii bezpieczeństwa, służą do tego dwa przyciski umieszczone na ekranie Ustawienia: wykonaj kopię zapasową oraz wczytaj kopię zapasową.Użytkownik może również wykonać „ręczny backup” poprzez kopię plików baz danych. W tym celu należy skopiować pliki baz danych (profiles.db oraz nip_użytkownika.db) z lokalizacji C:\Users\XXXX\AKMF, (gdzie XXXX to nazwa użytkownika aktualnie zalogowanego do komputera i pracującego w aplikacji). W przypadku natomiast zmiany katalogu roboczego na inny (na ekranie USTAWIENIA), do którego są zapisywane pozostałe wytworzone przez aplikację dokumenty, między innymi informacje JPK_VAT, JPK_FA należy również skopiować ten folder w celu uzyskania kopii zapasowej w tym zakresie."
        },
        {
            ask: "Czy i w jaki sposób mogę zrobić w aplikacji e-mikrofirma kopię zapasową danych (backup)?",
            answear: "Aplikacja umożliwia tworzenie kopii bezpieczeństwa oraz odtwarzania danych z zapisanej kopii bezpieczeństwa, służą do tego dwa przyciski umieszczone na ekranie Ustawienia: wykonaj kopię zapasową oraz wczytaj kopię zapasową.Użytkownik może również wykonać „ręczny backup” poprzez kopię plików baz danych. W tym celu należy skopiować pliki baz danych (profiles.db oraz nip_użytkownika.db) z lokalizacji C:\Users\XXXX\AKMF, (gdzie XXXX to nazwa użytkownika aktualnie zalogowanego do komputera i pracującego w aplikacji). W przypadku natomiast zmiany katalogu roboczego na inny (na ekranie USTAWIENIA), do którego są zapisywane pozostałe wytworzone przez aplikację dokumenty, między innymi informacje JPK_VAT, JPK_FA należy również skopiować ten folder w celu uzyskania kopii zapasowej w tym zakresie."
        }
    ];
