-
    var WEBSITE_TITLE = "#Pakuła2022"
    var WEBSITE_URL = "przemyslawpakula.pl"
    var WEBSITE_URL__WWW = "www.przemyslawpakula.pl"
    var BOSS__NAME = "Przemysław Pakuła"
    var FACEBOOK__URL = "https://www.facebook.com/PrzemyslawPakulaMiastko"
    var INSTAGRAM__URL = "https://www.instagram.com/przemyslaw_pakula/"
    var KONTAKT__PHONE = "+48 605 766 071"
    var KONTAKT__EMAIL = `ppprzemko@gmail.com`

    var KONTAKT__PHONE__HREF = `tel:${KONTAKT__PHONE}`;
    var KONTAKT__EMAIL__HREF = `mailto:${KONTAKT__EMAIL}`;

    var FOOTER__INFO = `Copyright © 2022 • Sfinansowano ze środków KWW Samorządność • ${WEBSITE_URL__WWW}`

    var MENU__NAV =
    [
        {
            hash: "#strona-glowna" ,
            name: "Strona Główna"
        },
        {
            hash: "#o-mnie" ,
            name: "O mnie"
        },
        {
            hash: "#doswiadczenie" ,
            name: "Doświadczenie"
        },
        {
            hash: "#zalozenia-programowe" ,
            name: "Założenia programowe"
        },
        {
            hash: "#kontakt" ,
            name: "Kontakt"
        }
    ];

    var STRONA_GLOWNA = [
        "Ty decydujesz",
        "Wybierasz mądrze",
        BOSS__NAME,
        "Nasz kandydat na burmistrza Miastka",
        "Głosuj 3 Lipca 2022",
    ]

    var O_MNIE__header = "Drodzy mieszkańcy Gminy Miastko!"
    var O_MNIE__desc =
    `Moja decyzja o kandydowaniu na stanowisko Burmistrza Miastka, to osobista refleksja nad tym, jak na przełomie lat rozwijała się nasza Gmina, w jakim miejscu znajduje się obecnie, lecz przede wszystkim, w jakim kierunku powinna podążać.
    `
    var DOSWIADCZENIE__header = `Podjąłem taką decyzję ponieważ: `
    var DOSWIADCZENIE__desc =
    `Od ponad 3 lat pracuję w samorządzie Gminnym, jako radny. Przez 4 lata kierowałem organizacją pozarządową. Od 27 lat jestem mikroprzedsiębiorcą, 13 lat pracuję w systemie oświatowym. Posiadam umiejętności łagodzenia konfiktów. Jestem orędownikiem dialogu i konstruktywnego rozwiązywania problemów.
    `
    var DOSWIADCZENIE__exp = `27`
    var DOSWIADCZENIE__headers =
    [
        {
            topic: "Nauczyciel w ",
            per: "ZSOiT"
        },
        {
            topic: "Radny gminy ",
            per: "Miastko"
        },
        {
            topic: "Samorządność",
            per: "KWW"
        }
    ]


    var PROGRAM__desc = `Swój program opracowałem w oparciu o obserwacje od 10 lat tego jak funkcjonują inne gminy i w jakim tempie się rozwijają. Czy nasza Gmina się rozwija? Zasadnicze pytanie. Skoro nasze miasto się wyludnia, zadłużenie gminy wzrasta to czy można mówić o rozwoju? Czy w naszej gminie stymuluje się rozwój gospodarczy? Trzeba mieć elementarną wiedzę o tym jakie elementy składają się na budżet gmin. To 3 zasadnicze elementy: 1. podatki ( od nieruchomości, PIT CIT - jako zwrot z US) 2. Ilość mieszkańców 3. subwencja. Tylko i wyłącznie stymulowanie tych 3 elementów może podnieść wpływy do budżetu, a co za tym idzie możliwość finansowania inwestycji ze środków własnych. Bogatszy budżet gminy to większe budżety sołeckie, osiedlowe i możliwość remontów dróg,  chodników, stawiania lamp i innych inwestycji. Póki co w naszej gminie na to pieniędzy nie ma. Tym się zajmę jako burmistrz.`


    var FOOTER__LINK__BOX =
    [
        {
            link_header: "WWW",
            link_element:
            [
                {
                    name: "Strona Główna",
                    url: "#strona-glowna"

                },
                {
                    name: "O mnie",
                    url: "#o-mnie"
                },
                {
                    name: "Doświadzenie",
                    url: "#doswiadczenie"
                }
                ,
                {
                    name: "Założenia programowe",
                    url: "#zalozenia-programowe"
                },
                {
                    name: "Kontakt",
                    url: "#kontakt"
                }

            ]
        },
        {
            link_header: "Kontakt",
            link_element:
            [
                {
                    name: KONTAKT__PHONE,
                    url: KONTAKT__PHONE__HREF

                },
                {
                    name: KONTAKT__EMAIL,
                    url: KONTAKT__EMAIL__HREF
                }

            ]
        },
        {
            link_header: "Social Media",
            link_element:
            [
                {
                    name: "Facebook",
                    url: "https://www.facebook.com/PrzemyslawPakulaMiastko"
                },
                {
                    name: "Instagram",
                    url: "https://www.instagram.com/przemyslaw_pakula/"
                }
            ]
        }
    ];

    var PROGRAM__header = ` `
    var PROGRAM_DESC = PROGRAM__header
    var PROGRAM_ARTICLE_FOOTER = "Sfinansowano ze środków KWW Samorządność Miastko"

    var PROGRAM_ARTICLE =
    [
        {
            header: "POKOLENIOWA ZMIANA W ZARZĄDZANIU GMINĄ ",
            paragraph: `Kilkuletnia praca jako radny miejski i v-ce przewodniczący komisji budżetowej pozwoliły
            mi poznać założenia tworzenia i zatwierdzania budżetu Gminnego. Analizując jego
            strukturę zauważam, że od roku 1990 do dnia dzisiejszego nikt z dotychczasowych
            włodarzy w Gminie Miastko nie myślał o kreowaniu lokalnej polityki gospodarczej, a
            jedynie zajmował się bieżącym administrowaniem budżetem.
            <br><br>
            Rozwój gospodarczy, to jak
            wiadomo <b>lokomotywa napędowa</b> rozwoju, także dla gmin. Dla naszej, konstruuję
            właśnie taki plan, który będzie mocnym impulsem rozwojowym. Do tej pory nikt nie
            potrafił wykorzystać potencjału, ponad 15% bezrobocia w Gminie dla budowania silnego
            systemu gospodarczego. W naszym otoczeniu pracują ludzie którzy, są w stanie
            organizować od nowa podwaliny przyszłego rozwoju, <b><i>a ja potrafię tę grupę zorganizować
            i poprowadzić Gminę do sukcesu.</i></b>`,
            list:
            [

            ]
        },
                {
            header: "KRÓTKI RYS HISTORYCZNY",
            paragraph: `Chciałbym pokrótce przypomnieć jak wyglądała Nasza Gmina przed transformacją
            ustrojową w 1990 roku. Ludność Gminy oscylowała w granicach 23 tys. funkcjonowały
            takie zakłady, jak FRiOS Fabryka rękawiczek i odzieży skórzanej (niegdysiejsza chluba
            Miastka), PBROL(PBT), które budowało osiedla, szkoły, nie tylko na terenie Gminy,
            ponadto Winiarnia, POM, Fabryka mebli, Domstal, OBM, Spółdzielnia Rzemieślnicza
            funkcjonowały okoliczne zakłady rolne. Obecnie liczba mieszkańców nie przekracza 19
            tys. Po wymienionych niektórych zakładach nie ma już nawet śladu.
            <br><br>
            Jednocześnie
            odnotowujemy bardzo wysoki UJEMNY przyrost naturalny na poziomie
            -6,88/1000M. Tendencja ujemnego przyrostu liczby mieszkańców zaczęła się już w roku
            2019 i z roku na rok się zwiększa. Współczynnik dynamiki demograficznej, czyli
            stosunek liczby urodzeń żywych do liczby zgonów wynosi 1,02 i jest większy od średniej
            dla województwa oraz znacznie większy od współczynnika dynamiki demograficznej dla
            całego kraju. Można przedstawiać inne dane np. dotyczące liczby zawieranych małżeństw
            i skorelowanych z nimi rozwodów, stopy bezrobocia, która utrzymuje się od aktualnie na
            poziomie 15% i jest znacznie większy w porównaniu ze stopą bezrobocia w
            województwie pomorskim, a także w porównaniu do całego kraju.`,
            list:
            [
            ]
        },
        {
            header: "DIAGNOZA I PRZYCZYNY BRAKU ROZWOJU GMINY",
            paragraph: `Upadek byłych przedsiębiorstw wynikał z braku ochrony lokalnego rynku pracy poprzez
            wykonywanie zadań przez inne podmioty, spoza gminy. W tym okresie rynek Bytowski dla
            Miastka był praktycznie zamknięty. Do tego dołożył się brak polityki gospodarczej władz
            Miastka – która nie chroniła w dostateczny sposób naszych lokalnych przedsiębiorców. To
            spowodowało w kolejnych latach praktycznie likwidację lokalnego rynku pracy.<b> Brak
            zakładów, które mogły by przejąć przynajmniej 50% absolwentów jedynej szkoły
            zawodowej (ok. 55 osób na rok)</b> powoduje stałą, zarobkową migrację do ośrodków
            rozwiniętych gospodarczo, dających możliwości przyzwoitego zarobkowania, szanse na
            założenie rodziny i godne życie. Konsekwencją jest spadek liczby zawieranych małżeństw i
            decyzji o posiadaniu dzieci. To z kolei przekłada się na liczbę dzieci, które podejmują naukę.
            Zgodnie z zasadami obowiązującymi w kraju, pieniądze na edukację przyznawane są przez
            Ministerstwo Edukacji na ucznia. Jeżeli uczniów w danej gminie jest coraz mniej to dla
            utrzymania szkół w danej liczbie, różnicę pokrywa budżet Gminy. W przypadku Miastka ten
            deficyt wynosi już <b>16 mln zł/rok (dla przykładu w gminie Bytów to kwota około 3 mln
            zł/rok)</b>. W dalszej perspektywie może to być kwota przekraczająca nawet 20 mln zł/rok.
            <br><br>
            Przyczyną takiego stanu Gminy jest brak dalekosiężnej polityki gospodarczej, przynajmniej
            od 25 lat. W zarządzaniu gminą całkowicie pomijano aspekty gospodarcze tj. zabezpieczanie
            przyszłych dochodów Gminy. Nie będę tutaj oceniał, czy poprzednie i dotychczasowe
            władze znały zasady funkcjonowania gospodarki rynkowej czy nie. Myślę, że każdy może
            sobie sam na to odpowiedzieć patrząc na to, jak teraz „kurczy” nasza Gmina.
            <br><br>
            Co oznacza obecna tendencja demograficzna Gminy Miastko? Otóż zmniejszanie liczby
            dzieci uczęszczających do szkół, oznacza dalsze zwiększanie dotacji z budżetu Gminy. Na to
            nakłada się jeszcze dotowanie niewydolnego finansowo szpitala miejskiego, niemniej który
            jest bezdyskusyjnie niezbędny dla funkcjonowania naszej Gminy. „Wisienką na torcie” jest
            perspektywa spadku dochodów gminy w związku ze zmianą ordynacji podatkowej i obniżenia
            podatków dla osób najmniej zarabiających – emerytów, rencistów i pracujących w Naszej
            Gminie. Kontynuując, jeżeli nie zmieni się sposobu zarządzania, to w dalszej perspektywie
            Gmina nie będzie się zajmowała niczym innym, jak utrzymywaniem oświaty i szpitala,
            następnie zacznie się zadłużać, co oczywiście może doprowadzić do wprowadzenia zarządu
            komisarycznego i likwidowania nierentownych obiektów, a wówczas odbudowa i powrót do
            normalności może być już niemożliwy.
            <br><br><br>

            `,
            list:
            [
            ]
        }
        ,
        {
            header: "ROZWÓJ GOSPODARCZO – <br> INWESTYCYJNY NASZEGO REGIONU",
            paragraph: `Chcę jednak Państwa uspokoić i poinformować, że można temu zapobiec i odwrócić
            niekorzystny trend stawiając na właściwych ludzi, którzy potrafią na nowo organizować
            gospodarczo Miastko, dając nadzieję i możliwości rozwojowe dla następnych pokoleń.
            Zapewniam Państwa, że nasza Gmina posiada odpowiedni potencjał intelektualny i nie
            potrzebuje posiłkować się osobami z miejscowości spoza Gminy Miastko, aby tego dokonać. <br><br>
            Pod moim kierownictwem magistrat przygotuje plan rozwoju gospodarczego, który
            konsekwentnie zatrzyma naszą młodzież w miejscu urodzenia, dając nowy impuls
            rozwojowy. Jako Burmistrz zacznę pełnić rolę menedżera, a nie administratora.
            <br><br>
            <h3>Podstawowym zadaniem dla mnie jako Burmistrza będzie:</h3> <br><br>
            `,
            list:
            [
               {
                li: `przygotowanie pakietu zachęt dla potencjalnych inwestorów obejmujących między innymi
                wieloletnie ulgi podatkowe uzależnione o wielkości lokowanego kapitału inwestycyjnego`
               },
               {
                li: `ochrona lokalnego rynku pracy (lokalnych przedsiębiorców przed konkurencją spoza
                Gminy)`
               },
               {
                li: `wspieranie lokalnych przedsiębiorców w zwiększaniu lub utrzymaniu dotychczasowych
                miejsc pracy`
               },
               {
                li: `
                organizacja współpracy z przedsiębiorcami, <b>aby absolwenci naszych szkół odnajdywali
                swe miejsce pracy w naszej Gminie </b> – na podstawie zdobytych doświadczeń w innych
                województwach, gdzie takie działania już przyniosły wymiernie korzyści <br>
                `
               },
               {
                li: `
                <b>aktywizacja młodzieży w tworzenie startupów</b>, które Gmina będzie wspierać przy
                współudziale inwestorów wewnętrznych i zewnętrznych
                `
               },
               {
               li: `
                pełne przygotowanie i uzbrajanie gminnych terenów inwestycyjnych
               `
               },
               {
                li: `
                organizowanie i rozbudowywanie własnych zakładów komunalnych w ramach
                wykonywania zadań własnych gminy
                `
               },
               {
                li: `
                <b>pozyskiwanie środków pomocowych</b>, jakie są i będą możliwe do pozyskania na inwestycje
                (z krajowych i unijnych środków) w celach inwestycyjnych, a także dla wsparcia grup
                SENIORÓW, mieszkańców terenów wiejskich, osób i organizacji osób niepełnosprawnych. <br>
                <b>Nie będzie to miało znaczenia od jakiego polityka to będzie zależało.<b>
                `
               }
            ]
        }
        ,
                {
            header: "PODSUMOWANIE",
            paragraph: `Podsumowując. Problemy z jakimi boryka się obecnie nasza Gmina nie pojawiły się dzisiaj
            ani wczoraj. To jest proces który „trawi” Naszą Gminę od lat. Również odwrócenie tego
            trendu będzie trwało określony czas. Jeżeli ktoś twierdzi, że można to zrobić szybko, to albo
            nie wie o czym mówi albo kłamie. <br> <br>
            Szanowni Państwo jesteśmy, obecnie w okresie przesilenia letniego. Teraz w Waszych rękach
            jest sprawienie tego, aby również takie przesilenie nastąpiło w gospodarowaniu w Gminie
            Miastko. <br><br>
            <b>Zapraszam do urn 3. lipca TY DECYDUJESZ. WYBIERASZ MĄDRZE.</b> <br> <br>
            Pozdrawiam serdecznie - Przemysław Pakuła <br>
            <img src="./images/signature.png" width="200px" alt='dupa' />

            `,
            list:
            [
            ]
        },

    ]

    var PYTANIA__header = "Pytania i odpowiedzi"
    var PYTANIA =
    [
        {
            id: "1-dlaczego-odszedl-Pan-odeszla-pani-z-poprzedniej-pracy",
            ask: "Dlaczego odszedł Pan/odeszła Pani z poprzedniej pracy?",
            answear: "Wymień tylko te powody, które stawiają Cię w korzystnym świetle. Nie wspominaj o tym, że zostałeś zwolniony, pokłóciłeś się, wyrzucono Cię, itp. Jeżeli jednak któryś z tych powodów zostanie ujawniony podczas rozmowy, zapewnij pracodawcę, że podobny problem na pewno nie będzie miał miejsca w pracy, o którą się starasz."
        },
        {
            id: "2-czy-aplikacja-e-mikrofirma-pozwala-na-wystawienie",
            ask: "Czy aplikacja e-mikrofirma pozwala na wystawienie faktury VAT-RR przy transakcjach z rolnikiem ryczałtowym, kiedy wystawcą faktury jest jej nabywca?",
            answear: "Nie. Wystawiane przez użytkownika w aplikacji faktury VAT są automatycznie przenoszone do rejestru sprzedaży, wobec czego nie ma możliwości wystawiania faktur VAT-RR przez nabywcę płodów rolnych na rzecz rolnika ryczałtowego, z uwagi na specyficzny tryb ich ewidencjonowania, która dostępna jest ze strony głównej NOWY ZAKUP a następnie ZBIORCZY WPIS DO REJESTRU VAT. W tym celu należy wprowadzić w aplikacji wartości z podsumowania tej faktury.Nie. Wystawiane przez"
        },
        {
            id: "3-czy-i-w-jaki-sposob-moge-zrobic-backup",
            ask: "Czy i w jaki sposób mogę zrobić w aplikacji e-mikrofirma kopię zapasową danych (backup)?",
            answear: "Aplikacja umożliwia tworzenie kopii bezpieczeństwa oraz odtwarzania danych z zapisanej kopii bezpieczeństwa, służą do tego dwa przyciski umieszczone na ekranie Ustawienia: wykonaj kopię zapasową oraz wczytaj kopię zapasową.Użytkownik może również wykonać „ręczny backup” poprzez kopię plików baz danych. W tym celu należy skopiować pliki baz danych (profiles.db oraz nip_użytkownika.db) z lokalizacji C:\Users\XXXX\AKMF, (gdzie XXXX to nazwa użytkownika aktualnie zalogowanego do komputera i pracującego w aplikacji). W przypadku natomiast zmiany katalogu roboczego na inny (na ekranie USTAWIENIA), do którego są zapisywane pozostałe wytworzone przez aplikację dokumenty, między innymi informacje JPK_VAT, JPK_FA należy również skopiować ten folder w celu uzyskania kopii zapasowej w tym zakresie.Aplikacja umożliwia tworzenie kopii bezpieczeństwa oraz odtwarzania danych z zapisanej kopii bezpieczeństwa, służą do tego dwa przyciski umieszczone na ekranie Ustawienia: wykonaj kopię zapasową oraz wczytaj kopię zapasową.Użytkownik może również wykonać „ręczny backup” poprzez kopię plików baz danych. W tym celu należy skopiować pliki baz danych (profiles.db oraz nip_użytkownika.db) z lokalizacji "
        },
        {
            id: "4-prowadze-dzialanosc-jestem-a-emeryturze-co-mam-zrobic",
            ask: "Prowadzę jednoosbową działanosći i jestem na emeryturze?",
            answear: `W takiej sytuacji musisz złożyć dwa dokumenty ZUS DRA.
            Pierwszy z nich powinieneś sporządzić dla zakresu 1-39 z kodem tytułu ubezpieczenia, który obowiązywał Cię przed uzyskaniem prawa do świadczenia, np. 0510 0 0. W dokumencie wykazujesz pełne składki i podstawy wymiaru a w bloku XI wypełnij pola właściwe dla przyjętej przez Ciebie formy opodatkowania, wpisując kwoty podstawy wymiaru składki oraz składki za pełny miesiąc.
            Drugi dokument powinieneś sporządzić dla zakresu 40-49 z kodem tytułu ubezpieczenia, który obowiązuje Cię od momentu uzyskania prawa do świadczenia, np. 0510 1 0. W dokumencie tym wykazujesz zerowe podstawy i składki na wszystkie ubezpieczenia i fundusze. Nie wypełniaj pól w bloku XI.`
        },
        {
            id: "5",
            ask: "Czy i w jaki sposób mogę zrobić w aplikacji e-mikrofirma kopię zapasową danych (backup)?",
            answear: "Aplikacja umożliwia tworzenie kopii bezpieczeństwa oraz odtwarzania danych z zapisanej kopii bezpieczeństwa, służą do tego dwa przyciski umieszczone na ekranie Ustawienia: wykonaj kopię zapasową oraz wczytaj kopię zapasową.Użytkownik może również wykonać „ręczny backup” poprzez kopię plików baz danych. W tym celu należy skopiować pliki baz danych (profiles.db oraz nip_użytkownika.db) z lokalizacji C:\Users\XXXX\AKMF, (gdzie XXXX to nazwa użytkownika aktualnie zalogowanego do komputera i pracującego w aplikacji). W przypadku natomiast zmiany katalogu roboczego na inny (na ekranie USTAWIENIA), do którego są zapisywane pozostałe wytworzone przez aplikację dokumenty, między innymi informacje JPK_VAT, JPK_FA należy również skopiować ten folder w celu uzyskania kopii zapasowej w tym zakresie."
        }

    ];

        var KOMITET =
    [
        {
            name: "Janusz Pawlak",
            info: "Lista 22, Pozycja 21",
            avatar: "https://tltuchola.pl/wp-content/uploads/2020/07/Olivier_1500_Trptch.jpg"
        },
        {
            name: "Wojciech Gola",
            info: "Lista 11, Pozycja 2",
            avatar: "https://i.pinimg.com/originals/44/35/50/443550b58651fdff1c5ea2e9465f93f0.jpg"
        },
        {
            name: "Dariusz Wojciewski",
            info: "Lista 2, Pozcyja 2",
            avatar: "https://m.media-amazon.com/images/I/81a10vUqDSL._SS500_.jpg"
        },
        {
            name: "Maria Zawiałów",
            info: "Lista 99, Pozycja 4",
            avatar: "https://image.shutterstock.com/image-photo/stock-photo-close-up-portrait-of-yong-woman-casual-portrait-in-positive-view-big-smile-beautiful-model-posing-250nw-1554086789.jpg"
        },
        {
            name: "Bartosz Duda",
            info: "Pozycja 69, Lista 2",
            avatar: "https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg"
        },
        {
            name: "Jan Kowal",
            info: "Pozycja 10, Lista 1",
            avatar: "https://st.depositphotos.com/1144472/2003/i/950/depositphotos_20030237-stock-photo-cheerful-young-man-over-white.jpg"
        }
    ];