include api.pug
<!DOCTYPE html>
html(lang='pl-PL')
  head
    include components/Head.pug
  body

    block NAV
        include components/Nav/Nav.pug

    block HOME
      include components/Home/Home.pug

    block ABOUT-ME
      section#o-mnie.about
        include components/About/About.pug

    block SKILLS
      section#doswiadczenie.skills
        include components/Skills/Skills.pug

    block SERVICES
      section#program.services
        include components/Services/Services.pug
        section#end
        .program__background
            .end-header Program Wyborczy
            .end-p= PROGRAM_DESC
        include components/Services/ServicesItem.pug
    block TEAM
      section#komitet
        include components/Team/Team.pug

    block FAQ
      section#pytania.faq
        include components/Faq/Faq.pug

    block CONTACT
      section#kontakt.contact
        include components/Contact/Contact.pug

    block END
      section#end
        .end
          img(src="./images/white.png" alt="KWW Samorządność Logo")

    block FOOTER
      include components/Footer/Footer.pug

    script
      include components/Nav/Nav.js
      include components/Faq/Faq.js
      include components/Animation/Animation.js
