include api.pug
doctype html
html(lang='pl')
  meta(charset='UTF-8')
  title= WEBSITE_TITLE
  link(rel='icon' href='images/icon.ico')
  style
    include css/main.css
    include css/faq.css
    include css/employees.css
    include css/contact.css
    include css/footer.css
    include css/animation.css
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Aleksander Szopa, kandydat na burmistrza Miastka w wyborach 2022.')
  meta(name='author' content='Aleksanser Szopa')
  meta(name='keywords' content='Burmistrz, Miastko, Burmistrz Miastka, Wybory Miastko, #Szopa2022, Szopa, Aleksanser Szopa')


include components/nav.pug
include components/section.pug
include components/footer.pug
script
  include script.js