/* navbar styling */

nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
    &.sticky {
        background: #4070f4;
        box-shadow: 0 8px 17px -6px gray;
        padding: 13px 0;
    }
    .navbar {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        .logo a {
            font-weight: 500;
            font-size: 25px;
            color: #4070f4;
        }
    }
    &.sticky .navbar .logo a {
        color: #fff;
    }
    .navbar .menu {
        display: flex;
        position: relative;
        li {
            list-style: none;
            margin: 0 8px;
        }
    }
}

.navbar .menu a {
    font-size: 15px;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;
    transition: all 0.4s ease;
    &:hover {
        color: #4070f4;
        background-color: white;
    }
}

nav.sticky .menu a {
    color: #FFF;
    &:hover {
        color: #4070f4;
    }
}

.navbar .media-icons a {
    color: #4070f4;
    font-size: 18px;
    margin: 0 6px;
}

nav {
    &.sticky .media-icons a {
        color: #FFF;
    }
    &.sticky .media-icons a:hover {
        color: gold;
    }
    .menu-btn {
        position: absolute;
        color: #fff;
        right: 30px;
        top: 20px;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: none;
    }
}


/* Side Navigation Menu Button CSS */

.navbar .menu .cancel-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

nav {
    .menu-btn {
        color: #4070f4;
    }
    &.sticky .menu-btn {
        color: #FFF;
    }
}

.navbar .menu .menu-btn {
    color: #fff;
}

.mobile__item {
    display: none;
    border-radius: 10px;
    color: gray;
    padding: 0 10px;
    font-size: 18px;
    text-align: left;
    border: 0.5px solid gray;
    margin-bottom: 30px;
}

.fb_mobile {
    display: none;
    margin-top: 12px;
    i {
        color: gray;
        font-size: 22px;
        margin: 20px;
    }
}

nav .menu li a:hover,
nav .menu li a.activeNavA {
    color: #0E2431;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s ease-out;
    letter-spacing: 2px;
}

@media (max-width: 1050px) {
    .mobile__item {
        display: block;
    }
    .fb_mobile {
        display: flex;
        flex-wrap: wrap;
    }
    nav .navbar {
        width: 90%;
        .menu {
            position: fixed;
            left: -100%;
            top: 0;
            background: #0E2431;
            height: 100vh;
            max-width: 400px;
            width: 100%;
            padding-top: 60px;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s ease;
        }
    }
    .navbar.active .menu {
        left: 0;
    }
    nav {
        .navbar .menu a {
            font-size: 23px;
            display: block;
            color: #fff;
            margin: 10px 0;
        }
        &.sticky .menu a:hover {
            color: #0E2431;
        }
        .navbar .media-icons {
            display: none;
        }
        .menu a.activeNavA {
            color: #0E2431;
        }
        .menu-btn {
            display: block;
        }
    }
    .navbar .menu .cancel-btn {
        display: block;
    }
}

@media (max-width: 376px) {
    .fb_mobile {
        i {
            margin: 10px;
            font-size: 17px;
        }
    }
}